<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <!-- Optional system libraries used by LiteRT-LM's GPU accelerator. -->
        <uses-native-library
            android:name="libOpenCL.so"
            android:required="false" />
        <uses-native-library
            android:name="libvndksupport.so"
            android:required="false" />
    </application>
</manifest>
